@page "/Dessert"

<PageTitle>Dessert</PageTitle>
<div id="container">
<div id="header">
    <img src="images/PizzaHAL-Banner.jpg" width="1200px" height="150px" alt="Logo" />
</div>
<div id="nav">
			<ul>
				<li><a href="">Home </a></li>
				<li><a href="Pizza"> Pizza </a></li>
				<li><a href="VeggiePizza"> Veggie-Pizza </a></li>
				<li><a href="Drinks"> Drinks </a></li>
				<li><a href="Sandwiches"> Sandwiches </a></li>
				<li><a href="Soup"> Soup </a></li>
			<li><a href="Dessert">Dessert</a></li>
			<li><a href="Cart">Cart </a></li>
			<li><a href="Checkout">Checkout </a></li>
			</ul>
</div>
<div id="image">
		<img src="images/Dessert-Menu.jpg" width="1200" height="600" alt="Logo" />
</div>
	<h1>Select Your Dessert</h1>
<div>
	<label>Type:</label>
	<select @bind="DessertType" style="width:400px">
		<option>Select a Type</option>
		<option>Cookie Brownie</option>
		<option>Chocolate Chip Cookie</option>
		<option>Tiramisu</option>
	</select>
</div>

@if(DessertType != null)
{
	<button @onclick="CreateDessert"><a href="Cart">Add To Cart</a></button>
}
</div>


